body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.text {
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.container {
    text-align: center;
    margin: auto;
    align-self: flex-end; /* Align to the bottom of the flex container */
    height: 100vh;
}

.gif_container {
    display: flex;
    justify-content: space-around;
    align-self: flex-end; /* Align to the bottom of the flex container */
    height: 100vh;
    align-items: center;
    flex: 1;
}

.gif_container img {
    max-width: 100%;
    max-height: 100%;
    
    /* animation-timeline: 600ms; */
}

.left-side {
    animation: bobble 4s infinite ease-in-out;
    /* animation: wobble 5s linear infinite; */
}

.middle {
    animation: bobble 3.25s infinite ease-in-out;
}

.right-side {
    animation: bobble 2.5s infinite ease-in-out;
}

.bottom-center {
    height: 800px;
    margin-bottom: -175px;
    /* animation: bobble 2s infinite ease-in-out; */
    /* animation: wobble 5s linear infinite; */
}

@keyframes bobble {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-60px);
    }
}

/* @keyframes wobble {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-15deg);
    }
} */